/* цвет основного текста #757575  */
/* цвет заголовков #212121*/
/* цвет акцента синий #2196F3*/
/* Портфолио: цвет заголовка h3 rgba(33, 33, 33, 1)*/

:root {
    --primary-text-color: #757575;
    --title-text-color: #212121;
    --accent-color: #2196f3;
    --portfolio-title-text-color: rgba(33, 33, 33, 1);
    --white-color: #fff;
    --transition-duration: 250ms;
    --transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
body {
    position: relative;
    color: var(--primary-text-color);
    background-color: #ffffff;
    font-family: 'Roboto', sans-serif;
}
ul {
    list-style: none;
}
button {
    cursor: pointer;
}
h1,
h2,
h3,
p,
ul {
    margin: 0;
    padding: 0;
}

*,
*::before,
*::after {
    margin: 0;
    padding: 0;
}
ul li {
    list-style: none;
}
a {
    text-decoration: none;
}
img {
    display: block;
}
button {
    border: none;
}
.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 15px;
}
/* site-nav */
.header-page {
    border-bottom: 1px solid #ececec;
}
.header-container {
    display: flex;
    justify-content: space-between;
}
.container-nav {
    display: flex;
}
.site-nav {
    display: flex;
    align-items: center;
    margin-left: 93px;
}

.active {
    position: relative;
}

.active::after {
    position: absolute;
    display: block;
    content: '';
    width: 100%;
    height: 4px;
    border-radius: 2px;
    background: var(--accent-color);
    top: 47px;
    opacity: 1;
}

.site-nav-item:not(:last-child) {
    margin-right: 50px;
}

.logo {
    color: var(--accent-color);
    text-decoration: none;
    font-family: 'Raleway', sans-serif;
    font-weight: bold;
    font-size: 26px;
    line-height: 1.19;
    letter-spacing: 0.03em;
    padding-top: 24px;
    padding-bottom: 25px;
}
.logo .accent {
    color: #000;
    padding: 25px 0px;
}
.auth-nav {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    margin-left: auto;
}
.auth-nav-item {
    padding-top: 32px;
    padding-bottom: 32px;
}
.auth-nav-item:not(:first-child) {
    margin-left: 50px;
}
.site-nav-link,
.auth-nav-link {
    text-decoration: none;
    font-family: Roboto;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    transition-property: color;
    transition-duration: var(--transition-duration);
    transition-timing-function: (--transition-timing-function);
}
.site-nav-link {
    color: var(--title-text-color);
}
.auth-nav-link {
    color: var(--primary-text-color);
    display: flex;
    align-items: center;
}
.auth-nav-link:focus,
.auth-nav-link:hover {
    color: var(--accent-color);
}
.auth-nav-link:hover .btn-mail,
.auth-nav-link:focus .btn-mail,
.auth-nav-link:hover .btn-phone,
.auth-nav-link:focus .btn-phone {
    fill: var(--accent-color);
}

.site-nav-item .active {
    color: var(--accent-color);
}
.site-nav-link:hover,
.site-nav-link:focus {
    color: var(--accent-color);
}

.btn-mail {
    display: block;
    fill: var(--primary-text-color);
    margin-right: 10px;
    transition-property: fill;
    transition-duration: var(--transition-duration);
    transition-timing-function: (--transition-timing-function);
}
.btn-mail:hover,
.btn-mail:focus {
    fill: var(--accent-color);
}
.btn-phone {
    fill: var(--primary-text-color);
    margin-right: 10px;
    display: block;
    transition-property: fill;
    transition-duration: var(--transition-duration);
    transition-timing-function: (--transition-timing-function);
}
.btn-phone:hover,
.btn-phone:focus {
    fill: var(--accent-color);
}

/* Hero */
.hero {
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
        url('../images/background.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: 1600px 600px;
    padding-top: 200px;
    padding-bottom: 200px;
}

.hero-title {
    color: var(--white-color);
    font-weight: 900;
    font-size: 44px;
    line-height: 1.36;
    text-align: center;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    margin-bottom: 30px;
    max-width: 700px;
    margin: 0 auto;
    margin-bottom: 30px;
}
.btn {
    display: block;
    background-color: var(--accent-color);
    color: var(--white-color);
    font-weight: 700;
    font-size: 16px;
    line-height: 1.88;
    text-align: center;
    text-decoration: none;
    letter-spacing: 0.06em;
    min-width: 200px;
    min-height: 50px;
    padding: 10px 32px;
    margin: 0 auto;
    border-radius: 4px;
    transition-property: background-color, color;
    transition-duration: var(--transition-duration);
    transition-timing-function: (--transition-timing-function);
}
.hero .btn:hover,
.hero .btn:focus {
    background-color: var(--white-color);
    color: var(--accent-color);
}
/* Modal */
.backdrop {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.2);
    z-index: 3;
    opacity: 1;
    transition: opacity var(--transition-timing-function) var(--transition-duration);
}
.is-hidden {
    opacity: 0;
    pointer-events: none;
    visibility: hidden;
}
.backdrop.is-hidden .modal {
    transform: translate(-50%, -50%) scale(0.8);
}
.modal {
    position: absolute;
    z-index: 3;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(1);
    min-width: 528px;
    min-height: 581px;
    background: rgba(255, 255, 255, 1);
    border-radius: 4px;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
    padding: 40px;
}

.btn-close {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    top: 8px;
    right: 8px;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    border: 1px solid rgba(0, 0, 0, 0.1);
    background-color: var(--white-color);
    padding: 6px;
}
.btn-close:hover .btn-close-icon {
    fill: var(--accent-color);
}
.btn-close-icon {
    fill: #000;
}
.form-person,
.form-phone,
.form-mail {
    position: relative;
    margin-bottom: 10px;
    min-height: 58px;
}
.modal-title {
    color: var(--title-text-color);
    font-weight: 700;
    font-size: 20px;
    line-height: 1.15;
    text-align: center;
    letter-spacing: 0.03em;
    margin-bottom: 12px;
}
.form-label {
    display: block;
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.01em;
    margin-bottom: 4px;
}
.modal-input {
    display: block;
    position: relative;
}
.form-input {
    font-size: 12px;
    line-height: 1.16;
    letter-spacing: 0.01em;
    color: rgba(117, 117, 117, 0.5);
    margin: 0;
    min-height: 40px;
    padding: 12px 16px 12px 42px;
    width: 100%;
    font: inherit;
    border: 1px solid rgba(33, 33, 33, 0.2);
    border-radius: 4px;
    outline: none;
    cursor: pointer;
}
.form-input:focus,
.form-input:hover,
.form-input:active {
    border-color: var(--accent-color);
}

.icone-person,
.icone-phone,
.icone-mail {
    position: absolute;
    top: 50%;
    left: 12px;
    transform: translateY(-50%);
    fill: var(--primary-text-color);
}

.modal-input:focus .icn,
.modal-input:hover .icn {
    fill: var(--accent-color);
}
.form-coment {
    min-height: 120px;
    position: relative;
    margin-bottom: 20px;
}
.coment::placeholder {
    font-size: 12px;
    padding-top: 7px;
    line-height: 1.17px;
    letter-spacing: 0.01em;
    color: rgba(117, 117, 117, 0.5);
}

.coment {
    min-height: 120px;
    padding: 12px 16px;
    resize: none;
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.01em;
}
.form-checkbox {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    position: relative;
    margin-bottom: 30px;
}
.checkbox-label {
    display: flex;
    align-items: center;
    font-size: 14px;
    line-height: 1.72;
    letter-spacing: 0.03em;
}
.checkbox-input {
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
}
.bg-icn {
    display: block;
    width: 16px;
    height: 15px;
    border-style: solid;
    border-radius: 2px;
    border-width: 1px;
    border-color: #000;
    padding: 4px 2px 3px 2px;
    margin-left: 7px;
    margin-right: 7px;
}

.checkbox-input:checked + .bg-icn {
    background: var(--accent-color);
    border-color: var(--accent-color);
}

.form-a {
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    text-decoration-line: underline;
    color: var(--accent-color);
    margin-left: 4px;
}

.icn-yes {
    display: block;
    fill: var(--white-color);
}
.btn-form-close {
    display: flex;
    justify-content: center;
}
.form-close {
    font-family: inherit;
    background-color: var(--accent-color);
    color: var(--white-color);
    min-width: 200px;
    min-height: 50px;
    padding: 10px 55px;
    border-radius: 4px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    transition: background-color --transition-duration --transition-timing-function,
        color --transition-duration --transition-timing-function;
}
.form-close:hover,
.form-close:focus {
    background-color: var(--white-color);
    color: var(--accent-color);
}
/* Features */
.section-title {
    margin-bottom: 50px;
}
.feature-box {
    padding-top: 95px;
}
.feature-list {
    display: flex;
    justify-content: space-between;
}
.feature-iconbox {
    display: inline-block;
    background: #f5f4fa;
    width: 270px;
    height: 120px;
    border-radius: 4px;
    margin-bottom: 30px;
    text-align: center;
    padding-top: 25px;
    padding-bottom: 25px;
}
.feature-list .title {
    color: var(--title-text-color);
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    margin-bottom: 10px;
}
.feature-text {
    font-weight: 400;
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    width: 270px;
}

/* work examples */
.section-title {
    color: var(--title-text-color);
    font-weight: 700;
    font-size: 36px;
    line-height: 42px;
    text-align: center;
    letter-spacing: 0.03em;
    margin-bottom: 50px;
}
.work-fotos {
    display: flex;
    justify-content: space-between;
    padding-left: 0px;
    z-index: 1;
}
.work-img-cont {
    position: relative;
    z-index: 1;
}
.card-image {
    display: block;
}
.card-image-cont {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    min-height: 70px;
    background: rgba(47, 48, 58, 0.8);
    padding-top: 27px;
    padding-bottom: 27px;
}
.card-image-tittle {
    text-transform: uppercase;
    color: var(--white-color);
    text-align: center;
}
/* Our team */
.section {
    padding-bottom: 95px;
    padding-top: 95px;
}
.best {
    background: rgba(245, 244, 250, 1);
}
.team {
    display: flex;
    padding-left: 0px;
    justify-content: space-between;
}
.team-item {
    background: var(--white-color);
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 0px 0px 4px 4px;
}
.team-member {
    display: block;
    padding-top: 30px;
    padding-bottom: 30px;
}

.team-title {
    color: var(--title-text-color);
    font-weight: 500;
    font-size: 16px;
    line-height: 1.19;
    text-align: center;
    letter-spacing: 0.03em;
    margin-bottom: 10px;
}
.team-text {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.19;
    text-align: center;
    letter-spacing: 0.03em;
    margin-bottom: 16px;
}

.social-list {
    display: flex;
    justify-content: center;
    align-items: center;
}
.social-item:not(:last-child) {
    margin-right: 10px;
}
.social-link {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--white-color);
    width: 44px;
    height: 44px;
    border-radius: 50%;
    text-align: center;
    padding: 12px;
    transition-property: background-color;
    transition-duration: var(--transition-duration);
    transition-timing-function: (--transition-timing-function);
}
.social-link:hover {
    background-color: var(--accent-color);
}
.social-link:hover .social-logo,
.social-link:focus .social-log {
    fill: var(--white-color);
}
.social-logo {
    display: block;
    fill: rgba(175, 177, 184, 1);
    transition-property: fill;
    transition-duration: var(--transition-duration);
    transition-timing-function: (--transition-timing-function);
}
.social-logo:hover {
    fill: var(--white-color);
}
/* Regular customers */
.client-list {
    display: flex;
    justify-content: space-between;
}

.client-link {
    display: block;
    width: 170px;
    height: 92px;
    border: 1px solid #afb1b8;
    border-radius: 4px;
    padding: 16px 32px;
    transition-property: border-color;
    transition-duration: var(--transition-duration);
    transition-timing-function: (--transition-timing-function);
}
.client-link:hover .client-logo,
.client-link:focus .client-logo {
    fill: var(--accent-color);
}
.client-link:hover,
.client-link:focus {
    border-color: var(--accent-color);
}
.client-logo {
    display: block;
    fill: rgba(175, 177, 184, 1);
    transition-property: fill;
    transition-duration: var(--transition-duration);
    transition-timing-function: (--transition-timing-function);
}
.client-logo:hover,
.client-logo:focus {
    fill: var(--accent-color);
}
/* Footer */
.section-last {
    background: rgba(47, 48, 58, 1);
}
.section-last {
    padding-top: 60px;
    padding-bottom: 60px;
}
.container-footer {
    display: flex;
    align-items: baseline;
}
.footer-card-left {
    min-width: 231px;
}
.footer-card-center {
    margin-left: 70px;
}
.footer-card-left .logo {
    display: block;
    margin-bottom: 20px;
    padding-top: 0;
    padding-bottom: 0;
}
.footer-address {
    font-style: inherit;
    color: var(--white-color);
}
.section-last .accent-secondary {
    color: var(--white-color);
}
.footer-list {
    display: block;
    color: var(--white-color);
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.72;
    letter-spacing: 0.03em;
}
.footer-list:not(:last-child) {
    margin-bottom: 9px;
}

.footer-link {
    display: block;
    color: rgba(255, 255, 255, 0.6);
    text-decoration: none;
    transition-property: color;
    transition-duration: var(--transition-duration);
    transition-timing-function: (--transition-timing-function);
}
.footer-link:hover,
.footer-link:focus {
    color: var(--accent-color);
}
.footer-title2 {
    text-transform: uppercase;
    margin-bottom: 20px;
    color: var(--white-color);
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em;
    font-weight: 700;
}
.footer-social-item {
    background-color: rgba(255, 255, 255, 0.1);
    display: flex;
    justify-content: center;
    align-items: center;
    width: 44px;
    height: 44px;
    border-radius: 50%;
    text-align: center;
    padding: 12px;
}
.footer-social-link {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(255, 255, 255, 0.1);
    width: 44px;
    height: 44px;
    border-radius: 50%;
    text-align: center;
    padding: 12px;
    transition-property: background-color;
    transition-duration: var(--transition-duration);
    transition-timing-function: (--transition-timing-function);
}
.footer-social-item:not(:last-child) {
    margin-right: 10px;
}
.footer-social-logo {
    fill: var(--white-color);
}
.footer-social-link:hover,
.footer-social-link:focus {
    background-color: var(--accent-color);
}
.footer-card-right {
    display: flex;
    justify-content: baseline;
    margin-left: 93px;
}
.footer-title2a {
    margin-bottom: 20px;
}
.footer-card-right1 {
    min-width: 358px;
}
.footer-card-right2 {
    position: relative;
    margin-left: 12px;
}
.submit-input {
    display: flex;
    align-items: center;
    border: 1px solid rgba(255, 255, 255, 0.3);
    border-radius: 4px;
    padding: 15px 16px;
    background-color: transparent;
    font-size: 16px;
    line-height: 1.25;
    letter-spacing: 0.03em;
    color: var(--primary-text-color);
    border-color: var(--white-color);
}
.submit-input::placeholder {
    font-size: 16px;
    line-height: 1.25;
    letter-spacing: 0.03em;
    color: rgba(255, 255, 255, 0.6);
}
.submit-input:focus,
.submit-input:hover {
    border-color: var(--accent-color);
}

.btn-submit {
    display: flex;
    align-items: center;
    min-width: 200px;
    min-height: 50px;
    background-color: var(--accent-color);
    color: var(--white-color);
    font-family: inherit;
    border-radius: 4px;
    padding-left: 29px;
    margin-top: 36px;
    transition: background-color --transition-duration --transition-timing-function,
        color --transition-duration --transition-timing-function;
}
.btn-submit:hover,
.btn-submit:focus {
    background-color: var(--white-color);
    color: var(--accent-color);
}
.btn-submit:hover ~ .icon-send,
.btn-submit:focus ~ .icon-send {
    fill: var(--accent-color);
}
.icon-send {
    position: absolute;
    fill: var(--white-color);
    top: 36px;
    right: 28px;
    transform: translateY(50%);
}
/* PORTFOLIO PAGE */
/* Work filter */
.porffolio-filter {
    display: flex;
    justify-content: center;
    margin-bottom: 50px;
}
.prt-btn {
    display: block;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.63;
    text-align: center;
    letter-spacing: 0.03em;
    background-color: var(--primary-text-color);
    padding: 6px 22px;
    color: var(--title-text-color);
    background-color: #f5f4fa;
    border-radius: 4px;
    margin-right: 8px;
    transition-property: background-color, color;
    transition-duration: var(--transition-duration);
    transition-timing-function: (--transition-timing-function);
}
.porffolio-filter li:last-child .prt-btn {
    margin-right: 0;
}
.prt-btn:hover,
.prt-btn:focus {
    color: var(--white-color);
    background-color: var(--accent-color);
}
.porffolio-filter .active-filter {
    background-color: var(--accent-color);
    color: var(--white-color);
}
/* Work-cards */
.work-card {
    display: flex;
    flex-wrap: wrap;
}
.work-card-item {
    display: block;
    width: 370px;
    margin-right: 30px;
    margin-bottom: 30px;
    background: var(--white-color);
    border-bottom: 1px solid #eeeeee;
    border-left: 1px solid #eeeeee;
    border-right: 1px solid #eeeeee;
    background: #ffffff;
    border: 1px solid #eeeeee;
    transition-property: box-shadow, opacity;
    transition-duration: var(--transition-duration);
    transition-timing-function: (--transition-timing-function);
}
.work-card-item:hover {
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
}
.work-card-item:nth-child(3n) {
    margin-right: 0;
}
.work-card-item:nth-last-child(-n + 3) {
    margin-bottom: 0px;
}
.work-card-cont {
    position: relative;
    overflow: hidden;
}
.work-card-opacity {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(33, 150, 243, 0.9);
    padding: 63px 23px;
    opacity: 0;
    transition-property: transform, opacity;
    transition-duration: var(--transition-duration);
    transition-timing-function: (--transition-timing-function);
    transform: translateY(100%);
}
.work-card-item:hover .work-card-opacity {
    opacity: 1;
    transform: translateY(0%);
}
.work-opacity-text {
    font-size: 18px;
    line-height: 1.56;
    letter-spacing: 0.03em;
    color: var(--white-color);
}
.work-card-img {
    display: block;
    width: 100%;
}
.port-card {
    padding: 20px 24px;
}

.portfolio-title {
    font-weight: 700;
    font-size: 18px;
    line-height: 2;
    letter-spacing: 0.06em;
    color: var(--title-text-color);
    margin-bottom: 4px;
}
.portfolio-work-title {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.88;
    letter-spacing: 0.03em;
    color: var(--primary-text-color);
}
.portfolio-work-item {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.88;
    letter-spacing: 0.03em;

    color: var(--white-color);
    background-color: var(--accent-color);
}
