/* Footer */
.section-last {
  background: rgba(47, 48, 58, 1);
  padding-top: 60px;
  padding-bottom: 60px;
}
.container-footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  @media screen and (min-width: $tablet) {
    align-items: baseline;
    justify-content: center;
  }
  @media screen and (min-width: $desktop) {
    flex-direction: row;
    justify-content: unset;
  }
}
.footer-join {
  display: flex;
  flex-direction: column;
  @media screen and (min-width: $tablet) {
    flex-direction: row;
  }
  @media screen and (min-width: $tablet) and (max-width: $desktop) {
    margin-bottom: 60px;
  }
  @media screen and (min-width: $desktop) {
    align-items: baseline;
  }
}
.footer-card-left {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  max-width: 231px;
  margin-bottom: 60px;
  @media screen and (min-width: $tablet) {
    margin-left: 61px;
    margin-right: 165px;
    margin-bottom: unset;
  }
  @media screen and (min-width: $desktop) {
    margin-left: unset;
    margin-right: unset;
    align-items: unset;
  }
}
.logo-footer {
  display: block;
  margin-bottom: 20px;
  padding-top: 0;
  padding-bottom: 0;
  & .nav_color_light {
    color: $white-color;
  }
}

.footer-card-center {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 60px;
  @media screen and (min-width: $tablet) {
    margin-bottom: unset;
  }
  @media screen and (min-width: $desktop) {
    margin-left: 70px;
    align-items: unset;
  }
}
.footer-raws {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  @media screen and (min-width: $desktop) {
    display: block;
  }
}
.footer-list {
  display: block;
  color: $white-color;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.72;
  letter-spacing: 0.03em;
  &__address {
    text-align: center;
    @media screen and (min-width: $desktop) {
      text-align: unset;
    }
    font-style: inherit;
    color: $white-color;
  }
  &:not(:last-child) {
    margin-bottom: 9px;
  }
  &__link {
    display: block;
    color: rgba(255, 255, 255, 0.6);
    text-decoration: none;
    transition-property: color;
    transition-duration: $transition-duration;
    transition-timing-function: $transition-timing-function;
  }
  &__link:hover,
  &__link:focus {
    color: $accent-color;
  }
}
.footer-title-ctr {
  text-transform: uppercase;
  margin-bottom: 20px;
  color: $white-color;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  font-weight: 700;
}
.social-link_background-color_dark {
  background-color: rgba(255, 255, 255, 0.1);
}
.footer-social__logo {
  fill: $white-color;
}

.footer-card-right {
  display: flex;
  align-items: center;
  flex-direction: column;
  max-width: 450px;
  @media screen and (min-width: $tablet) {
    margin-left: auto;
    margin-right: auto;
  }
  @media screen and (min-width: $desktop) {
    margin-left: 93px;
    align-items: unset;
    max-width: unset;
  }
  &__cont {
    display: flex;
    flex-direction: column;
    @media screen and (min-width: $desktop) {
      flex-direction: row;
    }
    align-items: center;
  }
  &__title {
    margin-bottom: 20px;
  }
}
.submit-input {
  display: flex;
  align-items: center;
  border: 1px solid rgba(255, 255, 255, 0.3);
  border-radius: 4px;
  padding: 15px 16px;
  background-color: transparent;
  font-size: 16px;
  line-height: 1.25;
  letter-spacing: 0.03em;
  margin-bottom: 20px;
  width: 450px;
  resize: none;
  @media screen and (min-width: $desktop) {
    margin-bottom: unset;
    width: 358px;
  }
  color: $primary-text-color;
  border-color: $white-color;
  &:focus,
  &:hover {
    border-color: $accent-color;
  }
  &::placeholder {
    font-size: 16px;
    line-height: 1.25;
    letter-spacing: 0.03em;
    color: rgba(255, 255, 255, 0.6);
  }
}
.btn-submit {
  margin-left: auto;
  margin-right: auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
  @media screen and (min-width: $desktop) {
    margin-left: 12px;
  }
  min-width: 200px;
  min-height: 50px;
  background-color: $accent-color;
  color: $white-color;
  font-family: inherit;
  border-radius: 4px;
  padding: 10px 28px;
  transition: background-color $transition-duration $transition-timing-function,
    color $transition-duration $transition-timing-function;
  &:hover,
  &:focus {
    background-color: $white-color;
    color: $accent-color;
  }
  &:hover > .icon-send,
  &:focus > .icon-send {
    fill: $accent-color;
  }
}
.icon-send {
  display: block;
  margin-left: 10px;
  fill: $white-color;
}
