/* Work filter */
.porffolio-filter {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  margin: -7.5px;
  margin-bottom: 40px;
  @media screen and (min-width: $tablet) {
    flex-wrap: unset;
    justify-content: center;
    margin: -4px;
    margin-bottom: 30px;
  }
  @media screen and (min-width: $desktop) {
    margin: -4px;
    margin-bottom: 50px;
  }
  &__item {
    margin: 7.5px;
    @media screen and (min-width: $tablet) {
      margin: 4px;
    }
  }
  &__item:last-child .prt-btn {
    margin-right: 0;
    margin-bottom: 7.5px;
  }
  & .active-filter {
    background-color: $accent-color;
    color: $white-color;
  }
}
.prt-btn {
  display: block;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.63;
  text-align: center;
  letter-spacing: 0.03em;
  background-color: $primary-text-color;
  padding: 6px 22px;
  color: $title-text-color;
  background-color: #f5f4fa;
  border-radius: 4px;
  transition-property: background-color, color;
  transition-duration: $transition-duration;
  transition-timing-function: $transition-timing-function;
  &:hover,
  &:focus {
    color: $white-color;
    background-color: $accent-color;
  }
}
