/* Work-cards */
.work-card {
  display: block;
  @media screen and (min-width: $tablet) {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: -15px;
  }
}
.work-card-item {
  display: block;
  margin-bottom: 30px;
  @media screen and (min-width: $tablet) {
    margin: 15px;
    width: calc((100% - 15px * 4) / 2);
  }
  @media screen and (min-width: $desktop) {
    width: calc((100% - 15px * 6) / 3);
  }
  background: $white-color;
  border-bottom: 1px solid #eeeeee;
  border-left: 1px solid #eeeeee;
  border-right: 1px solid #eeeeee;
  background: #ffffff;
  border: 1px solid #eeeeee;
  transition-property: box-shadow, opacity;
  transition-duration: $transition-duration;
  transition-timing-function: $transition-timing-function;
  &:hover {
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
      1px 4px 6px rgba(0, 0, 0, 0.16);
  }

  &:hover .work-card-opacity {
    opacity: 1;
    transform: translateY(0%);
  }
}
.work-card-cont {
  position: relative;
  overflow: hidden;
  &__photo {
    width: 100%;
  }
}
.work-card-opacity {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(33, 150, 243, 0.9);
  padding: 63px 23px;
  opacity: 0;
  transition-property: transform, opacity;
  transition-duration: transition-duration;
  transition-timing-function: transition-timing-function;
  transform: translateY(100%);
}

.work-opacity-text {
  font-size: 18px;
  line-height: 1.56;
  letter-spacing: 0.03em;
  color: $white-color;
}
.work-card-img {
  display: block;
  width: 100%;
}
.port-card {
  padding: 20px 24px;
}

.portfolio-title {
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: $title-text-color;
  margin-bottom: 4px;
}
.portfolio-work-title {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.03em;
  color: $primary-text-color;
}
.portfolio-work-item {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.03em;
  color: $white-color;
  background-color: $accent-color;
}
