/* work examples */
.work-fotos {
  display: flex;
  justify-content: space-between;
  padding-left: 0px;
  z-index: 1;
}
.work-img {
  position: relative;
  z-index: 1;
  &__cont {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    min-height: 70px;
    background: rgba(47, 48, 58, 0.8);
    padding-top: 27px;
    padding-bottom: 27px;
  }
  &__tittle {
    text-transform: uppercase;
    color: $white-color;
    text-align: center;
  }
  &__photo {
    display: block;
  }
}
