/* цвет основного текста #757575  */ /* цвет заголовков #212121*/
/* цвет акцента синий #2196F3*/
/* Портфолио: цвет заголовка h3 rgba(33, 33, 33, 1)*/
$primary-text-color: #757575;
$title-text-color: #212121;
$accent-color: #2196f3;
$portfolio-title-text-color: rgba(33, 33, 33, 1);
$white-color: #fff;
$transition-duration: 250ms;
$transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
$font-family: "Roboto", sans-serif;
